#Project 1 - Report 1 code

In [2]:
#Please have the 'playlists4000.txt' file in the same directory as this notebook.

fd = open("playlists4000.txt",mode='r',encoding='utf8',newline='\n')

raw = fd.read().splitlines()

hashtable = dict()

for line in raw:
    first, second = line.split(sep="::")
    hashtable.setdefault(first, []).append(second)

In [3]:
#Number of items
items = 0
for x in hashtable.values():
    items += len(x)
items

55994

In [4]:
#Number of transactions
len(hashtable.keys())

4000

In [5]:
#Longest transaction
longest = 0
for x in hashtable.values():
    if (len(x) > longest):
        longest = len(x)

longest

110

In [6]:
#Shortest transaction
shortest = longest
for x in hashtable.values():
    if(len(x) < shortest):
        shortest = len(x)
shortest

1

In [7]:
#Support counting

#Dictionary of 1-itemsets with support count

counts = dict()

for line in raw:
    first, second = line.split(sep="::")
    x = counts.setdefault(second,0)
    counts[second] = x+1

In [8]:
#Number of frequent 1-itemsets with support count threshold 400
freq = 0

for x in counts:
    if(counts[x] > 400):
        freq += 1

freq

0

Turns out there are no 1-temsets with a support of 400

In [9]:
#Highest support for a 1-itemset
max(counts.values())

194

In [19]:
import pandas as pd

df_counts = pd.DataFrame.from_dict(counts, orient='index')

df_counts = df_counts.set_axis(['support'],axis=1)

df_counts.head()

   support
0      132
1      106
2      123
3       77
4       86

In [26]:
df_counts.loc[df_counts['support'] > 50]

      support
0         132
1         106
2         123
3          77
4          86
...       ...
1319       58
1320       57
1323       52
1377       60
1518       59

[334 rows x 1 columns]